<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
    <link rel="stylesheet" th:href="@{static/css/editflight.css}">
</head>
<body>
    <p>Choose the Desired Flight to cancel</p> 

    <div class="table-container">
        <table>
            <tr>
                <th>Flight Id</th>
                <th>Departure Destination</th>
                <th>Arrival Destination</th>
                <th>Departure Time</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Cameroon</td>
                <td>Nigeria</td>
                <td>12:15</td>
                <td>23-01-2023</td>
                <td><a id="first" href="#deleteflight">Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>France</td>
                <td>USA</td>
                <td>18:45</td>
                <td>23-01-2023</td>
                <td><a id="first" href="#edeleteflight">Delete</a></td>
            </tr>
        </table>        
    </div>

</body>
</html>