<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Reservation</title>
    <link rel="stylesheet" th:href="@{static/css/adminpanel.css}">
    <link rel="stylesheet" href="../../static/css/adminpanel.css">
</head>
<body>
    <div style="margin-top: 32px;">
        <p>Flight Planning</p>        
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Flight Id</th>
                <th>Departure Destination</th>
                <th>Departure Town</th>
                <th>Arrival Destination</th>
                <th>Arrival Town</th>
                <th>Departure Time</th>
                <th>Price</th>
                <th></th>
            </tr>
            
            <tr th:each="flight:${flights}">
                <td th:text="${flight.getId}">2</td>
                <td th:text="${flight.getDepartCountry}">France</td>
                <td th:text="${flight.getDepartTown}">France</td>
                <td th:text="${flight.getArivalCountry}">USA</td>
                <td th:text="${flight.getArivalTown}">USA</td>
                <td th:text="${flight.getHour}">18:45</td>
                <td th:text="${flight.getPrice}">18:45</td>
                <td><a id="second" th:href="@{/reservation_flight{id}(id=${flight.getId})}">Reserve</a></td>

            </tr>
        </table>        
    </div>

</body>
</html>