<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Reservation</title>
    <link rel="stylesheet" href="../../static/css/reservation.css">
</head>
<body>
    <div style="margin-top: 32px;">
        <p>Flight Reservation</p>        
    </div>

    <div class="formContainer">
        <div class="label">
            <label for="passport">Passport Number</label>
        </div>

        <div>
            <input type="text" id="passport" name="passport" />
        </div>
        <div class="label">
            <label for="destination">Destination</label>
        </div>

        <div>
            <input type="text" id="destination" name="destination" />
        </div>

        <div class="label">
            <label for="time">Time</label>
        </div>

        <div>
            <input type="text" id="time" name="destination" />
        </div>
    </div>

</body>
</html>