<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Reservation</title>
    <link rel="stylesheet" href="../../static/css/loginform.css">
</head>
<body>
   <div class="text">
    <p>Flight Reservation</p>
   </div>

   <div class="modal-content">
    <div id="formcontainer">
      <form action="" id="form">
        <label for="">Class</label>
        <select>
          <option>First </option>
          <option>Business </option>
          <option>Economy </option>
      </select>
      <label for="">Date</label>
      <input type="date" name="date" />
      <input type="submit" value="Reserve" />
      </form>
    </div>
   </div>

  </style>
</body>
</html>