<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Flight</title>
    <link rel="stylesheet" th:href="@{static/css/updateflight.css}">
</head>
<body>
    <div class="modal-content">
        <div id="formcontainer">
            <form action="" method="post">
                <label for="hour">Hour</label>
                <input type="text" name="hour" id="hour">
                <label for="depart">Departure Country</label>
                <input type="text" name="depart" id="depart">
                <label for="dtown">Departure town</label>
                <input type="text" name="dtown" id="dtown">
                <label for="arrival">Arrival Country</label>
                <input type="text" name="arrival" id="arrival">
                <label for="atown">Arrival town</label>
                <input type="text" name="atown" id="atown">
                <label for="price">Price</label>
                <input type="text" name="price" id="price">
                <label for="seats">Total seats</label>
                <input type="text" name="seats" id="seats">
                <input type="submit" value="Create" />
            </form> 
        </div>
    </div>
</body>
</html>