<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
    <link rel="stylesheet" th:href="@{static/css/adminpanel.css}">
    <script th:src="@{static/js/modal.js}"></script>

</head>
<body>
    <div>
        <ul style="padding: 5px;">
            <li class="a"><span>Administrator Panel</span></li>
            <div style="float: right;">
                <li><span id="myBtn" onclick="modal()">Create new flight</span></li>
                <li><a href="#contact">Flight Statistics</a></li>
                <li><a href="#client">View client list</a></li>
                <li><a th:href="@{/Profile_user{id} (id=${#request.userPrincipal.principal.getUser.getId})}">profile</a></li> 
                <li id="r">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" id="in2" value="Logout" />
                    </form>
            	</li>
            </div>
          </ul>
    </div> 


    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="formcontainer">
                <form action="" method="post" th:action="@{/saveflight}" th:object="${flight}">
                    <label for="hour">Hour</label>
                    <input type="text" th:field="*{hour}" name="hour" id="hour">
                    <label for="depart">Departure Country</label>
                    <input type="text" name="depart" th:field="*{departCountry}" id="depart">
                    <label for="dtown">Departure town</label>
                    <input type="text" name="dtown" th:field="*{departTown}" id="dtown">
                    <label for="arrival">Arrival Country</label>
                    <input type="text" name="arrival" th:field="*{arivalCountry}" id="arrival">
                    <label for="atown">Arrival town</label>
                    <input type="text" name="atown" th:field="*{arivalTown}" id="atown">
                    <label for="price">Price</label>
                    <input type="text" name="price" th:field="*{price}" id="price">
                    <label for="status">Status:</label>
                    <input type="text" name="status" th:field="*{status}" id="status"> 
                    <label for="seats">Total seats</label>
                    <input type="number" name="seats" th:field="*{totalseats}" id="seats">
                    <input type="submit" value="Create" />
                </form> 
            </div>
        </div>
    </div> 

    <h3>Current flights</h3>
    <div class="table-container">
        <span th:if="${flights == null}" style="background-color: purple; color:white">no flights avalaibles</span>
        <table th:if="${flights != null}">
            <tr>
                <th>Flight Id</th>
                <th>Departure Destination</th>
                <th>Arrival Destination</th>
                <th>Departure Time</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="flight:${flights}">
                <td th:text="${flight.getId}">2</td>
                <td th:text="${flight.getDepartCountry}">France</td>
                <td th:text="${flight.getArivalCountry}">USA</td>
                <td th:text="${flight.getHour}">18:45</td>
                <td><a id="first" th:href="@{/deleteflight/{id}(id=${flight.getId})}">Delete</a></td>
                <td><a id="second" th:href="@{/updateflight_{id}(id=${flight.getId})}">Update</a></td>
            </tr>
        </table>        
    </div>
    <h3>Reservations in progress</h3>
    <div class="table-container">
        <span th:if="${reservations == null}" style="background-color: purple; color:white">no reservations avalaibles</span>
        <table th:if="${reservations != null}">
            <tr>
                <th>Reservation Id</th>
                <th>Client</th>
                <th>Class</th>
                <th>Travel date</th>
                <th>Departure Destination</th>
                <th>Arrival Destination</th>
                
            </tr>
            <tr>

            <tr th:each="reserv:${reservations}">
                <td th:text="${reserv.getId}">2</td>
                <td th:text="${reserv.getClient.getUsername}">France</td>
                <td th:text="${reserv.getType}">2</td>
                <td th:text="${reserv.getDateCreation}">2</td>
                <td th:text="${reserv.getFlight.getDepartCountry}">France</td>
                <td th:text="${reserv.getFlight.getArivalCountry}">USA</td>

            </tr>
        </table>        
    </div>

    <h3>Client list</h3>
    <div class="table-container">
        <span th:if="${clients == null}" style="background-color: purple; color:white">no clients avalaibles</span>
        <table th:if="${clients != null}">
            <tr>
                <th>Client Id</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
                <tr th:each="client:${clients}">
                <td th:text="${client.getId}"></td>
                <td th:text="${client.getUsername}"></td>
                <td th:text="${client.getFirstName}"></td>
                <td th:text="${client.getLastName}"></td>
                <td th:text="${client.getEmail}"></td>

            </tr>
        </table>
    </div>
</body>
</html>
