<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
    <link rel="stylesheet" th:href="@{/static/css/adminpage.css}">
</head>
<body>
    <div class="text">
        <p>Welcome Ronan</p>
    </div>

        <div class="topright">
            <input type="submit" value="Logout" />
        </div>        


    <div class="center">
        <div class="row">
            <div class="col-50">
                <input type="submit" value="Create flight" />
                <input type="submit" value="Update flight" />
            </div>            
        </div>

        <div class="row">
            <div class="col-50">
                <input type="submit" value="Cancel a flight" />
                <input type="submit" value="View flight statistics" />              
            </div>
        </div>
    </div>

</body>
</html>