<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
    <link rel="stylesheet" href="../../static/css/adminpage.css">
</head>
<body>
    <div class="text">
        <p>Welcome Ronan</p>
    </div>

        <div class="topright">
            <button>Logout</button>
        </div>        


    <div class="center">
        <div class="row">
            <div class="col-50">
                <button><a href="../flights/create.html">Create a Flight</a></button>
                <button><a href="../flights/update.html">Update a Flight</a></button>
            </div>            
        </div>

        <div class="row">
            <div class="col-50">
                <button><a href="../flights/delete.html">Cancel a Flight</a></button>
                <button><a href="../flights//statistics.html">View Flights Statistics</a></button>             
            </div>
        </div>
    </div>

</body>
</html>