<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link th:href="@{/static/css/loginform.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
    <div class="text" style="margin-top: 20px;">
        <p>Welcome to Airline Reservation System</p>
    </div>

    <div class="text" style="margin-top: 30px;">
        <p>Edit profile</p>
    </div>

    <div class="modal-content">
        <div class="formcontainer" style="margin-top: 16px;">
            <form action="#">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname" />
                <label for="username">Lastname</label>
                <input type="text" id="lastname" name="lastname" />
                <label for="email">Email</label>
                <input type="email" id="email" name="email" />
                <label for="oldpassword">Old Password</label>
                <input type="password" id="oldpassword" name="oldpassword" />
                <label for="newpassword">New Password</label>
                <input type="password" id="newpassword" name="newpassword" />
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" />
                <input type="submit" value="Edit"/>
            </form>
        </div>        
    </div>

</body>
</html>