<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link th:href="@{/static/css/loginform.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/loginform.css">

</head>
<body>
    <div class="text" style="margin-top: 20px;">
        <p>Welcome to Airline Reservation System</p>
    </div>

    <div class="text" style="margin-top: 30px;">
        <p>Edit profile</p>
    </div>

    <div class="modal-content">
        <div class="formcontainer" style="margin-top: 16px;">
            <form action="#" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" />
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname" />
                <label for="username">Lastname</label>
                <input type="text" id="lastname" name="lastname" />
                <label for="email">Email</label>
                <input type="email" id="email" name="email" />
                <label for="number">Phone number</label>
                <input type="number" id="number" name="number" />
                <label for="password">Password</label>
                <input type="password" id="password" />
                <input type="submit" value="Edit"/>
            </form>
        </div>        
    </div>

</body>
</html>