<!DOCTYPE html >
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{/static/css/loginform.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="text">
        <p>Welcome to Airline Reservation System</p>
    </div>

    <div class="text" style="margin-top: 72px;">
        <p>LOGIN</p>
    </div>

    <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">
        Login Failed!!!<br />
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
        th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
            Static summary
        </span>
        
    </div>

    <div class="modal-content">
        <div id="formcontainer">
            <form id="form" action="" th:action="@{/singin}" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" />
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <input id="user" type="submit" value="Login">
            </form>
        </div>
    </div>


      <script>
        function myfunc() {
            const x = document.getElementById('form')
            x.action = "userhome.html";
        }
      </script>
</body>
</html>