<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link th:href="@{/static/css/loginform.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
    <a th:href="@{/}"><button style="position: fixed; left: 0;top: 0;">Home</button></a>

    <div class="text" style="margin-top: 0px;">
        <p>Welcome to Airline Reservation System</p>
    </div>

    <div class="text" style="margin-top: 10px;">
        <p>SIGN UP</p>
    </div>
    <div class="modal-content">
        <div class="formcontainer" style="margin-top: 16px;">
            <form id="form" th:action="@{/saveUser}" method="post" th:object="${user}">
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" id="username" name="username" required/>
                <label for="firstname">Firstname</label>
                <input type="text" th:field="*{firstName}" id="firstname" name="firstname" required/>
                <label for="username">Lastname</label>
                <input type="text" th:field="*{lastName}" id="lastname" name="lastname" required/>
                <label for="email">Email</label>
                <input type="email" th:field="*{email}" id="email" name="email" required/>
                <label for="number">Phone number</label>
                <input type="number" th:field="*{phoneNumber}" id="phone" name="phone" required/>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password" name="password" required/>
                <input type="checkbox" onclick="myFunction()">  Show Password 
                <p style="padding: 4px;">Have an account ? <a id="b" th:href="@{/singin}">Login</a></p>
                <input type="submit" value="Sign Up">
            </form>
        </div>        
    </div> 

    <script>
        function myFunction() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
</body>
</html>