<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link th:href="@{/static/css/loginform.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/loginform.css">

</head>
<body>
    <div class="text" style="margin-top: 20px;">
        <p>Welcome to Airline Reservation System</p>
    </div>

    <div class="text" style="margin-top: 30px;">
        <p>SIGN UP</p>
    </div>
    <div class="modal-content">
        <div class="formcontainer" style="margin-top: 16px;">
            <form id="form" action="#" method="post">
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" id="username" name="username" />
                <label for="firstname">Firstname</label>
                <input type="text" th:field="*{firstName}" id="firstname" name="firstname" />
                <label for="username">Lastname</label>
                <input type="text" th:field="*{lastName}" id="lastname" name="lastname" />
                <label for="email">Email</label>
                <input type="email" th:field="*{email}" id="email" name="email" />
                <label for="number">Phone number</label>
                <input type="number" th:field="*{phoneNumber}" id="phone" name="phone" required/>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password" name="password" />
                <input type="submit" value="Sign Up">
            </form>
        </div>        
    </div>

</body>
</html>