<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/userhome.css">
</head>
<body>
    <div class="text">
        <p>Welcome Terb what</p>
        <p style="font-size: 32px; margin-bottom: 40px;">What would you like to do ?</p>        
    </div>

    <div class="center">
        <div class="row">
            <div class="col-50">
                <input type="submit" value="Make a reservation" />
                <input type="submit" value="Cancel a flight" />
            </div>            
        </div>

        <div class="row">
            <div class="col-50">
                <input type="submit" value="Re-schedule a flight" />
                <input type="submit" value="View flight planning" />              
            </div>
        </div>

        <div class="row">
            <div class="col-50" style=" margin-top: 100px;">
                <input type="submit" value="Update profile" />
                <input type="submit" value="Logout" />              
            </div>                
        </div>

    </div>

</body>
</html>