<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User home</title>
    <link th:href="@{/static/css/adminpanel.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        <ul style="padding: 5px;">
            <li class="a"><span>Welcome <b th:text="${user.getUsername}"></b> ?</span></li>
            <div style="float: right;">
                <li><a th:href="@{/editProfile_{id}(id=${user.getId})}">Edit profile</a></li>
                <li >
                    <form th:action="@{/logout}" method="post">
                        <a id="inn" href="#"><input id="in" type="submit" value="Logout" /></a> 
                    </form>
                </li>
            </div>
          </ul>
    </div> 

    <h3>Your Reservations</h3>
    <div class="table-container">
        <table>
            <tr>
                <th>Reservation Id</th>
                <th>Class</th>
                <th>Date creation</th>
                <th>Departure Destination</th>
                <th>Arrival Destination</th>
                <th></th>
                <th></th>
            </tr>
            <tr>

            <tr th:each="reserv:${reservs}">
                <td th:text="${reserv.getId}">2</td>
                <td th:text="${reserv.getType}">2</td>
                <td th:text="${reserv.getDateCreation}">2</td>
                <td th:text="${reserv.getFlight.getDepartCountry}">France</td>
                <td th:text="${reserv.getFlight.getArivalCountry}">USA</td>
                <td><a id="second" th:href="@{/updateResview_{id} (id=${reserv.getId})}">Re-schedule  </a></td>
                <td><a id="first" href="#cancel">Cancel</a></td>

            </tr>
        </table>        
    </div>
</body>
</html>